.row {
  color: white;
  margin-left: 20px;
  margin-top: 100px;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
.row_title {
  font-size: 1.5rem;
  font-weight: 700;
}
.row_poster {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
  opacity: 0.8;
}
.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}
.trailerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* highest layer */
}

.trailerContainer {
  width: 80%;
  max-width: 800px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
}
