.header-container{
  position: fixed;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.header-container.scrolled{
  background-color: #111;
  transition: background-color 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding-bottom: 5px;
}
.netflix-logo img{
  width: 130px;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
}
.lists-left-side ul{
  text-align: center;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  list-style: none;
  margin-top: 20px;
  margin-right: 30px;

}
.search-input{
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1.5px solid rgb(236, 223, 223);
  border-radius: 5px;
  padding: 5px;
}
.notification-icon{
  position: relative;
  display: inline-block;
}
.notification-button{
   position: absolute;
  top: 20px;
  right: 93px;
  background: #e50914;
  color: white;
  border-radius: 20px;
  padding: 2px 3px;
  font-size: 10px;
  font-weight: bold;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
  
  
}
.banner{
  color: white;
  object-fit: contain;
  height: 500px;
  position: relative;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_buttons {
  margin-top: 1rem;
}
.banner_button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.play{
  background-color: #fff;
  color: black;
}

.banner_button:hover{
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner_description{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner_fadeBottom {
  height: 60.5vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );

}

.list-container{
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
  margin-left: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.list-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.list-container button{
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  height: 50px;
}
.list-container button:hover{
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
